<footer class="footer">
  <div class="container">
    <div class="footer-logo-copyright">
      <div class="logo">
        <a href="#">
          <img src="../../../assets/images/logo.png" alt="Logo">
        </a>
      </div>
      <div class="footer-copyright">
        All rights reserved, 2020
      </div>
    </div>
    <div class="footer-social">
      <a href="{{linkInst}}">
        <img src="../../../assets/images/social_instagram.png" alt="Icon Instagram">
      </a>
    </div>
    <div class="phone">
      {{ phone  | formatPhoneNumber }}
    </div>
    <div class="footer-copyright footer-copyright-mobile">
      All rights reserved, 2020
    </div>
  </div>
</footer>
