

<section class="main">
  <div class="container">
    <div class="main-info">
      <div class="circle"></div>
      <h1>Soft French Macaroons</h1>
      <div class="main-info-text">
        Indulge yourself and your loved ones with the most delicious and aromatic homemade macarons!
      </div>
      <div class="main-info-action">
        <button class="btn main__btn" (click)="scrollTo(cards)" hoverBtn [hoverBtnBgColor]="'red'">Choose a macaron</button>
      </div>
    </div>

    <div class="main-image">
      <img src="../../../assets/images/main_macroons.png" alt="Macaroons">
    </div>
  </div>
</section>

<section class="advantages" id="advantages" #advantagesItems>
  <div class="container">
    <div class="advantages-info">
      <div class="advantages-info-title">
        For over 10 years, we have been baking the most delicious macaroons for you
      </div>
      <div class="advantages-info-text">
        We make all our macaroons only from natural and high-quality ingredients, without preservatives, flavorings, or artificial colorings. We use 82.5% butter in the preparation, and our recipe excludes yeast, margarine, leavening agents, and flour enhancers.
      </div>
    </div>
    <div class="advantages-image">
      <img src="../../../assets/images/big_macaroon.png" alt="Big macaroon">
    </div>
    <div class="advantages-items">
     <advantage  *ngFor="let advantage of advantages; let i = index" [advantage]="advantage" [i]="i"></advantage>
    </div>
  </div>
</section>

<section class="cards" id="cards" #cards>
  <div class="container">
    <h2 class="cards-title">
      Choose your macaron
    </h2>
    <div class="cards-items">
      <product *ngFor="let product of products" [product]="product" (addProductToCartEvent)="addToCart($event, orderElement)"></product>
    </div>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container">
    <div class="order-image">
      <img src="../../../assets/images/order_macaroon.png" alt="Macaroons">
      <div class="order-image-strawberry">
        <img src="../../../assets/images/strawberry_left_big.png" alt="Strawberry">
      </div>
      <div class="order-image-strawberry-small">
        <img src="../../../assets/images/strawberry_right_small.png" alt="Strawberry">
      </div>
    </div>
    <div class="order-info">
      <h2 class="order-info-title">
        Order macarons!
      </h2>
      <div class="order-info-text">
        Choose your favorite macaron, fill out the form, and wait for a call from our baker!
      </div>
      <div class="order-info-label order-info-label-choice">
        <div class="order-info-label-text">
          Your choice
        </div>
        <input type="text" class="order-info-input" placeholder="Write what you want to order..." [(ngModel)]="formValues.productTitle">
      </div>
      <div class="order-info-label">
        <div class="order-info-label-text">
          Fill in the order details.
        </div>
        <div>
          <input type="text" class="order-info-input order-info-input-data" placeholder="Name" [(ngModel)]="formValues.name">
        </div>
        <div>
          <input type="text" class="order-info-input order-info-input-data" placeholder="+380 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        </div>
        <div class="order-info-action">
          <button class="btn order__btn" hoverBtn (click)="createOrder()">Place Order</button>
        </div>
      </div>
      <div class="order-info-strawberry">
        <img src="../../../assets/images/strawberry_right_small.png" alt="Strawberry">
      </div>
      <div class="order-info-strawberry-big">
        <img src="../../../assets/images/strawberry_left_big.png" alt="Strawberry">
      </div>

    </div>
  </div>
</section>



<div class="gift-box" *ngIf="showPresent">
  <div class="gift-box-img">
    <img src="../../../assets/images/cart.png" alt="Gift">
  </div>
  <div class="gift-box-text">
    <div>{{cartService.total | currency: '$'}} </div>
  </div>
  <div class="gift-box-cart-count" *ngIf="showCartCount">
    <div>{{cartService.count}}</div>
  </div>
</div>
